.visuallyHidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.popup {
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  left: 10%;
  z-index: 1;
  background-color: #212126;
  box-shadow: -3px 2px 13px 0 #141628;
  overflow-x: hidden;
  overflow-y: auto;
}
.inner {
  background-color: #212126;
}
.top {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.close {
  display: flex;
  width: 1070px;
  margin: 0 auto;
}
.button {
  position: relative;
  font-size: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  margin: 0 0 30px auto;
  width: 25px;
  height: 25px;
  outline: none;
}
.button::before {
  content: "✕";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 25px;
  line-height: 1;
  color: #8da5aa;
  cursor: pointer;
  font-weight: bold;
}
.button:hover::before {
  opacity: 0.7;
}
.infoWrap {
  display: flex;
  justify-content: space-between;
  width: 1070px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 37px;
}
.poster {
  display: flex;
  flex-direction: column;
}
.age {
  margin: 0;
  margin-top: 50px;
}
.img {
  display: flex;
  width: 338px;
  height: 500px;
  object-fit: contain;
}
.info {
  width: 680px;
}
.infoHead {
  display: flex;
  margin-bottom: 24px;
}
.titleWrap {
  width: 540px;
}
.title {
  font-size: 50px;
  margin: 0;
}
.original {
  font-size: 21px;
  margin: 0;
}
.rating {
  width: 120px;
  margin-left: auto;
}
.totalRating {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  color: #42cd51;
}
.userRating {
  margin: 0;
  font-size: 21px;
  color: #687fad
}
.row {
  margin: 7px 0;
  font-size: 21px;
  box-sizing: content-box;
}
.row td {
  padding-top: 6px;
  padding-bottom: 6px;
  vertical-align: top;
}
.term {
  width: 140px;
  padding-right: 15px;
}
.cell {
  width: 330px;
  font-weight: 600;
}
.genre {
  padding-right: 15px;
}
.table {
  margin-bottom: 37px;
}
.description {
  width: 650px;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.57;
  margin: 0;
}
.age {
  font-size: 21px;
}
.controls {
  width: 1070px;
  margin: 0 auto;
  border-top: 1px solid #31353f;
  border-bottom: 1px solid #31353f;
  padding: 22px 50px;
  display: flex;
}
.label {
  position: relative;
  padding-left: 80px;
  width: 280px;
  font-size: 21px;
  cursor: pointer;
}
.label:not(:first-of-type) {
  border-left: 1px solid #31353f
}
.label:hover {
  opacity: 0.7;
}
.label::before {
  content: '';
  width: 17px;
  height: 17px;
  position: absolute;
  top: 3px;
  left: 40px;
  background-color: transparent;
}
.watchlist::before {
  background: url("../../images/icons/icon-watchlist.svg") no-repeat;
  background-size: 17px 15px;
}
.history::before {
  background: url("../../images/icons/icon-watched.svg") no-repeat;
  background-size: 17px 10px;
  top: 7px;
}
.favorite::before {
  background: url("../../images/icons/icon-favorite.svg") no-repeat;
  background-size: 18px;
}
.input:checked + .label {
  color: #f5df00;
}
.input:checked + .watchlist::before {
  background-image: url("../../images/icons/icon-watchlist-active.svg");
}
.input:checked + .history::before {
  background-image: url("../../images/icons/icon-watched-active.svg");
}
.input:checked + .favorite::before {
  background-image: url("../../images/icons/icon-favorite-active.svg");
}
