.list {
  box-sizing: border-box;
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
}

.list:last-of-type {
  position: relative;
}

.list:last-of-type::before {
  border-left: solid 1px var(--outline-color);
  bottom: 20px;
  content: '';
  height: calc(100% - 20px * 2);
  left: calc(-1 * var(--horizontal-gap) * 1.5);
  position: absolute;
  top: 20px;
  width: 0;
}

.container {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  padding: var(--vertical-gap) 40px;
}
